{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
     
    <h1><a href="/api/projects/{{id}}">{{user.name}}</a></h1>
    <h5>{{user.description}}</h5>
  </div>

</div>
{{/each}}