{{#each projects as |project| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
     
    <h4><a href="/projects/{{id}}">{{project.name}}</a></h4>
    <h5>{{project.description}}</h5>
  </div>

</div>

<div class="form-group" id="delete-button" data-id="{{project.id}}">
    <button class="btn btn-primary"  type="delete">delete</button>
  </div>
{{/each}}



<h2>Create Project</h2>

<form class="form">
  <div class="form-group">
    <label for="name">project name:</label>
    <input class="form-input" type="text" id="name" />
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input class="form-input" type="text" id="description" />
  </div>
   <div class="form-group">
    <label for="needed_funding">funds needed</label>
    <input class="form-input" type="text" id="needed_funding" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">create</button>
  </div>
</form>

<script src="/js/delete.js"></script>
<script src="/js/profile.js"></script>
